* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2e43;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.signup__container h2 {
  color: white;
  margin-bottom: 2rem;
}
.form-login form {
  display: flex;
  flex-direction: column;
}
.form-login form input {
  border: 1px solid black;
  margin-bottom: 1.5rem;
  padding-left: 5px;
}

.form-login form button {
  background-color: #665eff;
  color: #fff;
}

.form-login form input,
.form-login form button {
  border-radius: 5px;
}

.news {
  background-color: #2a2e43;
}
.news h2 {
  font-size: 35px;
  color: #fff;
}
.back-to-login .icon {
  width: 50px;
  height: auto;
}
.cards-container {
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  padding: 1rem;
  width: 400px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin: 1rem 0;
}

.card:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.card img {
  width: 250px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.card-desc {
  padding: 0 1rem;
}
.card-desc p {
  color: #78849e;
  font-size: 12px;
}
.card-profile {
  display: flex;
  align-items: center;
}
.profile-decs h6 {
  color: #454f63;
}

.card-profile .profile-icon .icon {
  width: 40px;
  height: auto;
  margin: 0 5px;
}
.button {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
}
.news button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #665eff;
}

@media screen and (max-width: 600px) {
  .cards-container {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: auto;
  }
  .news-link {
  }
}
